
@{
    ViewBag.Title = "Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Assets/Groups/css/StyleGroup.css" />
<div class="container mt-4">
    <div class="row">
        <div class="col-3">
            <div class="groups-sidebar">
                <input type="text" class="form-control mb-3" placeholder="Search Groups">
                <button id="discoverBtn" class="groups-sidebar-button active">Discover</button>
                <button id="myGroupsBtn" class="groups-sidebar-button">My Groups</button>
            </div>
        </div>
        <div class="col-9">
            <div id="discoverGroups" class="groups-content active">
                <h4>Suggested for you</h4>
                <div class="groups-grid">
                    <!-- Repeat this block for each group -->
                    <div class="group-card">
                        <img src="~/Assets/Groups/img/group1.jpg" alt="Group image">
                        <div class="group-info">
                            <h5>Group name</h5>
                            <p>100 Members</p>
                            <button class="btn btn-primary">Join Group</button>
                        </div>
                    </div>
                    <div class="group-card">
                        <img src="~/Assets/Groups/img/group1.jpg" alt="Group image">
                        <div class="group-info">
                            <h5>Group name</h5>
                            <p>100 Members</p>
                            <button class="btn btn-primary">Join Group</button>
                        </div>
                    </div>
                    <div class="group-card">
                        <img src="~/Assets/Groups/img/group1.jpg" alt="Group image">
                        <div class="group-info">
                            <h5>Group name</h5>
                            <p>100 Members</p>
                            <button class="btn btn-primary">Join Group</button>
                        </div>
                    </div>
                    <div class="group-card">
                        <img src="~/Assets/Groups/img/group1.jpg" alt="Group image">
                        <div class="group-info">
                            <h5>Group name</h5>
                            <p>100 Members</p>
                            <button class="btn btn-primary">Join Group</button>
                        </div>
                    </div>
                    <div class="group-card">
                        <img src="~/Assets/Groups/img/group1.jpg" alt="Group image">
                        <div class="group-info">
                            <h5>Group name</h5>
                            <p>100 Members</p>
                            <button class="btn btn-primary">Join Group</button>
                        </div>
                    </div>
                    <div class="group-card">
                        <img src="~/Assets/Groups/img/group1.jpg" alt="Group image">
                        <div class="group-info">
                            <h5>Group name</h5>
                            <p>100 Members</p>
                            <button class="btn btn-primary">Join Group</button>
                        </div>
                    </div>
                    <div class="group-card">
                        <img src="~/Assets/Groups/img/group1.jpg" alt="Group image">
                        <div class="group-info">
                            <h5>Group name</h5>
                            <p>100 Members</p>
                            <button class="btn btn-primary">Join Group</button>
                        </div>
                    </div>
                    <div class="group-card">
                        <img src="~/Assets/Groups/img/group1.jpg" alt="Group image">
                        <div class="group-info">
                            <h5>Group name</h5>
                            <p>100 Members</p>
                            <button class="btn btn-primary">Join Group</button>
                        </div>
                    </div>
                    <!-- End repeat -->
                </div>
            </div>
            <div id="myGroups" class="groups-content">
                <div class="row">
                    <div class="col-md-8">
                        <h4>All groups you've joined (8)</h4>

                        <div class="groups-grid">
                            <!-- Repeat this block for each group -->
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group2.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You joined on July 23, 2024</p>
                                    <button class="btn btn-primary">View Group</button>
                                </div>
                            </div>
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group2.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You joined on July 23, 2024</p>
                                    <button class="btn btn-primary">View Group</button>
                                </div>
                            </div>
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group2.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You joined on July 23, 2024</p>
                                    <button class="btn btn-primary">View Group</button>
                                </div>
                            </div>
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group2.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You joined on July 23, 2024</p>
                                    <button class="btn btn-primary">View Group</button>
                                </div>
                            </div>
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group2.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You joined on July 23, 2024</p>
                                    <button class="btn btn-primary">View Group</button>
                                </div>
                            </div>
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group2.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You joined on July 23, 2024</p>
                                    <button class="btn btn-primary">View Group</button>
                                </div>
                            </div>
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group2.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You joined on July 23, 2024</p>
                                    <button class="btn btn-primary">View Group</button>
                                </div>
                            </div>
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group2.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You joined on July 23, 2024</p>
                                    <button class="btn btn-primary">View Group</button>
                                </div>
                            </div>
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group2.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You joined on July 23, 2024</p>
                                    <button class="btn btn-primary">View Group</button>
                                </div>
                            </div>
                            <!-- End repeat -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4>Pending group requests (2)</h4>
                        <div class="groups-grid">
                            <!-- Repeat this block for each pending group -->
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group3.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You requested on July 23, 2024</p>
                                    <button class="btn btn-secondary">View Group</button>
                                </div>
                            </div>
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group3.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You requested on July 23, 2024</p>
                                    <button class="btn btn-secondary">View Group</button>
                                </div>
                            </div>
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group3.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You requested on July 23, 2024</p>
                                    <button class="btn btn-secondary">View Group</button>
                                </div>
                            </div>
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group3.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You requested on July 23, 2024</p>
                                    <button class="btn btn-secondary">View Group</button>
                                </div>
                            </div>
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group3.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You requested on July 23, 2024</p>
                                    <button class="btn btn-secondary">View Group</button>
                                </div>
                            </div>
                            <div class="group-card">
                                <img src="~/Assets/Groups/img/group3.jpg" alt="Group image">
                                <div class="group-info">
                                    <h5>Group name</h5>
                                    <p>You requested on July 23, 2024</p>
                                    <button class="btn btn-secondary">View Group</button>
                                </div>
                            </div>
                        
                            <!-- End repeat -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Assets/Groups/js/group.js"></script>
