.group-banner {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.group-info {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.btn-custom {
    background-color: #d6c4a7;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.group-navigation ul {
    list-style: none;
    display: flex;
    justify-content: left;
    background-color: #f7f6f3;
    padding: 5px;
    margin: 0;
    border-radius: 10px;
}

.group-navigation ul li {
    margin: 0 20px;
}

.group-navigation ul li a:hover {
    color: #d6c4a7;  /* Text color changes on hover */
}



.group-navigation ul li a {
    color: inherit;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: border-bottom 0.3s ease;  /* Smooth transition for border */
}

.group-navigation ul li a.active {
    color: #d6c4a7;
    border-bottom: 2px solid #333;  /* Keeps the underline on active */
}

.group-navigation ul li a:focus {
    outline: none;  /* Remove default focus outline */
    border-bottom: 2px solid #333;
}




.group-navigation ul li.active a {
    border-bottom: 2px solid #333;
    color: #d6c4a7;
}



.upcoming-events {
    background-color: #f7f6f3;
    padding: 20px;
    border-radius: 10px;
}

.event {
    display: flex;
    margin-bottom: 10px;
}

.event-date {
    background-color: #d6c4a7;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
}

.event-details h5 {
    font-weight: bold;
}

.event-details p {
    margin-top: 5px;
}
